<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">

<body>
<th:block th:fragment="articleListItem">
    <div class="card bg-base-100 shadow-xl">
        <a th:href="@{|/article/${article.id}|}" class="block">
            <figure>
                <svg width="200" height="200" th:data-jdenticon-value="${article.jdenticon}"></svg>
            </figure>
        </a>
        <div class="card-body">
            <h2 class="card-title flex flex-wrap">
                <a th:href="@{|/article/${article.id}|}" class="mr-auto">
                    <i class="fa-solid fa-newspaper"></i>
                    <span th:text="${article.subject}"></span>
                </a>
            </h2>
<!--            <div th:utext="${article.extra_articleTagLinks}"></div>-->
            <div class="flex justify-end">
                <div class="badge badge-outline">
                    <i class="fa-solid fa-pen"></i>
                    <span class="ml-2"
                          th:text="${#temporals.format(article.createdDate, 'yy-MM-dd HH:mm')}"></span>
                </div>
            </div>
            <div th:if="${article.createdDate != article.modifiedDate}" class="flex justify-end">
                <div class="badge">
                    <i class="fa-solid fa-eraser"></i>
                    <span class="ml-2"
                          th:text="${#temporals.format(article.modifiedDate, 'yy-MM-dd HH:mm')}"></span>
                </div>
            </div>
            <div class="card-actions justify-end">
                <a th:href="@{|/article/${article.id}|}" class="btn btn-sm">
                    <i class="fa-solid fa-eye"></i>
                    <span class="ml-2">보기</span>
                </a>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>
