<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">

<body>
<th:block th:fragment="cartItem">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div class="card bg-base-100 shadow-xl pt-8">
        <a th:href="@{|/product/${product.id}|}" class="block">
            <figure>
                <svg width="200" height="200" th:data-jdenticon-value="${product.jdenticon}"></svg>
            </figure>
        </a>
        <div class="card-body">
            <h2 class="card-title flex flex-wrap">
                <a th:href="@{|/product/${product.id}|}" class="mr-auto">
                    <i class="fa-solid fa-book-open"></i>
                    <span th:text="${product.subject}"></span>
                </a>
                <div class="flex">
                    <div th:text="${product.author.username}"></div>
                </div>
            </h2>
            <div th:text="|￦ ${product.price}"></div>

            <div class="flex justify-end">
                <div class="badge badge-outline">
                    <i class="fa-solid fa-pen"></i>
                    <span class="ml-2"
                          th:text="${#temporals.format(product.createdDate, 'yy-MM-dd')}"></span>
                </div>
            </div>
            <div class="card-actions justify-end mt-2">
                <div th:id=@{|item${item.id}|} class="badge badge-outline">
                    <input type='button'
                           th:id="plus"
                           th:onclick=@{|IncreaseCartItemsQuantity('plus',${item.id})|}
                           value='+'/>
                    <div th:id='@{|result${item.id}|}' class="Cart_ItemAmount m-2" th:text="${item.amount}"></div>
                    <input type='button'
                           id="minus"
                           th:onclick=@{|IncreaseCartItemsQuantity('minus',${item.id})|}
                           value='-'/>
                </div>
            </div>
            <div class="card-actions justify-end mt-2">
                <a th:href="@{|/product/${product.id}|}" class="btn btn-sm">
                    <i class="fa-solid fa-eye"></i>
                    <span class="ml-2">보기</span>
                </a>
            </div>
        </div>
    </div>


</th:block>
</body>
</html>