<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <body>
    <div class="container mx-auto flex-grow flex items-center justify-center">
        <div>
            <h1><i class="fa-solid fa-chart-pie"></i> 통계 데이터</h1>
            <form method="get" th:action>
                <select name="yearMonth" class="select select-bordered">
                    <option value="">전체</option>
                    <option value="2022-11">2022-11</option>
                    <option value="2022-10">2022-10</option>
                    <option value="2022-09">2022-09</option>
                    <option value="2022-08">2022-08</option>
                    <option value="2022-07">2022-07</option>
                    <option value="2022-06">2022-06</option>
                </select>
                <input class="btn btn-primary" type="submit" value="확인">
            </form>
        </div>
    </div>
    <section th:unless="${users_angry != 0 && users_happy != 0 && users_neutral != 0}"
             class="section section-cart-items flex-grow flex items-center justify-center">
        <div class="text-center">
            <div>해당 날짜의 감정 데이터가 존재하지 않습니다.</div>
        </div>
    </section>
    <div th:if="${users_angry != 0 && users_happy != 0 && users_neutral != 0}">
        <section style="display:flex; justify-content: center">
            <div id="users_piechart_3d" style="width: 900px; height: 500px; margin-top: auto; margin-bottom: auto;"></div>
            <div id="other_users_piechart_3d" style="width: 900px; height: 500px; margin-top: auto; margin-bottom: auto;"></div>
        </section>
        <div id="columnchart_values" style="width: 900px; height: 300px; margin-top: auto; margin-bottom: auto; margin-left: 350px"></div>
        <div th:text="@{|다른 사람과 angry 수치가 ${diff_emotion_angry}만큼 차이납니다.|}" style="text-align: center; margin-top: 100px"></div>
        <div th:text="@{|다른 사람과 happy 수치가 ${diff_emotion_happy}만큼 차이납니다.|}" style="text-align: center"></div>
        <div th:text="@{|다른 사람과 neutral 수치가 ${diff_emotion_neutral}만큼 차이납니다.|}" style="text-align: center; display: block"></div>
    </div>
    </body>
</div>
<div layout:fragment="script" class="container my-3">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Neutral',  /*[[${users_neutral}]]*/],
                ['Angry',     /*[[${users_angry}]]*/],
                ['Happy',      /*[[${users_happy}]]*/]
            ]);

            var options = {
                title: '나의 감정 데이터 총 통계 수치',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('users_piechart_3d'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript" th:inline="javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Neutral',  /*[[${other_users_neutral}]]*/],
                ['Angry',     /*[[${other_users_angry}]]*/],
                ['Happy',      /*[[${other_users_happy}]]*/]
            ]);

            var options = {
                title: '다른 사람의 감정 데이터 총 통계 수치',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('other_users_piechart_3d'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Element", "Density", { role: "style" } ],
                ["Neutral", /*[[${diff_emotion_happy}]]*/, "blue"],
                ["Angry", /*[[${diff_emotion_angry}]]*/, "red"],
                ["Happy", /*[[${diff_emotion_neutral}]]*/, "orange"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                { calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation" },
                2]);

            var options = {
                title: "Other People's Different Emotions",
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }
    </script>
</div>
</html>