<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <section th:unless="${analysis.emotionList.size > 0}"
             class="section section-cart-items flex-grow flex items-center justify-center">
        <div class="text-center">
            <div>해당 데이터가 오류로 생긴 데이터 입니다.</div>
            <a th:href="@{|/analysis/delete/${analysis.id}|}" class="block text-link mt-2"><i class="fa-solid fa-chart-line"></i>해당 데이터 삭제하기</a>
        </div>

    </section>
    <div th:if="${analysis.emotionList.size > 0}">
        <h2>
            <i class="fa-solid fa-chart-line"></i>
            <span th:text="@{|${#temporals.format(analysis.createdDate,'yyyy-MM-dd HH:mm')} 기록된 ${#authentication.getPrincipal().getUsername()} 님의 감정|}"></span>
        </h2>

        <div id="linechart_material" style="width: 900px; height: 500px; margin:20px auto"></div>
    </div>
</div>
<div layout:fragment="script" class="container my-3">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('timeofday', 'Time of day');
            data.addColumn('number', 'Angry');
            data.addColumn('number', 'Happy');
            data.addColumn('number', 'Neutral');
            // Sun Jul 24 12:53:34 KST 2022
            /*[# th:each="emotion : ${analysis.emotionList}"]*/
            data.addRows([
                [[Number(/*[[${#temporals.format(emotion.createdDate, 'HH')}]]*/)+15, Number(/*[[${#temporals.format(emotion.createdDate, 'mm')}]]*/), Number(/*[[${#temporals.format(emotion.createdDate, 'ss')}]]*/)],
                    /*[[${emotion.angry}]]*/,  /*[[${emotion.happy}]]*/,/*[[${emotion.neutral}]]*/],
            ]);
            /*[/]*/

            var options = {
                chart: {
                    title: 'Driver sentiment analysis',
                },
                vAxes: {
                    // Adds titles to each axis.
                    0: {title: 'Emotion (%)'}
                },
                width: 900,
                height: 500
            };

            var chart = new google.charts.Line(document.getElementById('linechart_material'));

            chart.draw(data, google.charts.Line.convertOptions(options));;
        }
        function chart__submit(frm){
            if ( confirm('삭제 하시겠습니까?') ){
                frm.submit();
            }
            return;
        }
    </script>
</div>
</html>